<!--
 * @Author: lss
 * @Date: 2023-11-20 15:38:04
 * @Description: file content
 * @FilePath: /demo/moyu.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>每日摸鱼日历</title>
    <style>
      .img-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      .img-item {
        width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 style="text-align: center;">欢迎来到每日摸鱼</h1>
      <div class="img-box">
        <img class="img-item" v-for="i in imgs" :key="i" :src="i" alt="" />
        <video class="img-item" v-for="i in videos" :key="i" :src="i" controls="controls"></video>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",
        imgs: [],
        videos: [],
        actions: [
          "https://moyu.qqsuu.cn/?type=json",
          "https://dayu.qqsuu.cn/moyuribao/apis.php?type=json",
          "https://dayu.qqsuu.cn/moyurili/apis.php?type=json",
          "https://dayu.qqsuu.cn/mingxingbagua/apis.php?type=json",
          "https://dayu.qqsuu.cn/neihanduanzi/apis.php?type=json",
          "https://dayu.qqsuu.cn/weiyujianbao/apis.php?type=json",
          "https://dayu.qqsuu.cn/qingganhuayuan/apis.php?type=json",
          "https://dayu.qqsuu.cn/xingzuoyunshi/apis.php?type=json",
          "https://dayu.qqsuu.cn/moyuribaoshipin/apis.php?type=json",
        ],
      },
      methods: {
        init() {
          this.imgs = [];
          this.videos = [];
          this.actions.map((i) => {
            this.xhrFn(i).then((res) => {
              if (res.data.indexOf(".mp4") >= 0) {
                this.videos.push(res.data);
              } else {
                this.imgs.push(res.data);
              }
            });
          });
        },
        xhrFn(url) {
          return new Promise((resolve, reject) => {
            let xhr = new XMLHttpRequest();
            xhr.open("get", url);
            xhr.onreadystatechange = function() {
              if (xhr.readyState === 4 && xhr.status === 200) {
                const obj = JSON.parse(xhr.response);
                resolve(obj);
              }
            };
            xhr.send();
          });
        },
      },
      created() {
        this.init();
      },
    });
  </script>
</html>
